body{
	padding: 20px;
}

.container, img{
    background-color: #eee;
    padding: 10px;
}

.container{
	border:2px solid #999;
}

.container:after{
	content: "";
	display: block;
	clear: both;
}


 img{
	width:80px;
	height:80px;
	margin:10px auto;
}

.left{
    float: left;
    padding: 10px;
}

.right{
	width:120px;
	float: right;
}

.middle{
	margin-left: 230px;
	margin-right: 200px;
	padding:10px;
}

.left, .middle, .right{
	border:2px solid #999;
	background-color: #fff;
	text-align: center;
}




